* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas{ display: block;
     vertical-align: bottom; 
} 
#particles-js{ position:absolute; width: 100%; 
    height: 100%; 
    background-image: url("https://img.freepik.com/free-photo/abstract-empty-smooth-light-pink-studio-room-background-use-as-montage-product-display-banner-template_1258-55827.jpg?t=st=1729599032~exp=1729602632~hmac=9ae8ac512b251acc68c07cf875f2600745c14c5a3396fe52fb4284fb2668912f&w=826"); 
    background-size: cover; 
    background-position: 200%; 
    position:fixed;
    z-index: 1;
}

body {
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

@keyframes float {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(-100px) rotate(180deg);
    }
    100% {
        transform: translateY(0) rotate(360deg);
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    z-index: 2;
    margin-top: 3%;
}

.card {
    background: #b7b8a0;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(214, 209, 209, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.5s, box-shadow 0.5s;
    max-width: 600px;
    width: 100%;
    padding-top: 3%;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.7);
}
.retour {
    padding-left: 3%;
    width: 100%;
    display: flex;
    justify-content: left;
}
.avatar {
    margin-bottom: 20px;
}

.avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.avatar img:hover {
    transform: scale(1.1);
}

.content {
    flex: 1;
    padding: 20px;
}

.text {
    padding-left: 3%;
}
.title-3d {
    font-size: 36px;
    margin-bottom: 10px;
    color: #b8b078;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    transition: transform 0.5s;
}



p {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

.btn-3d {
    padding: 15px 30px;
    background-color: #b8b078;
    color: #121212;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.4s, box-shadow 0.4s;
}

.btn-3d:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
}

/* Section des logos en 3D */
.skills-3d {
    margin-top: 30px;
    text-align: center;
}

.skills-3d h2 {
    font-size: 28px;
    color: #b8b078;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}

.tech-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.tech {
    text-align: center;
}

.tech-img {
    width: 80px;
    height: 80px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 50px 50px;
}

.tech-img:hover {
    transform: rotateY(180deg) scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
}

.tech p {
    margin-top: 10px;
}

.avatar {
    margin-bottom: 20px;
}

.avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(33, 33, 33, 0.3);
    transition: transform 0.3s;
}

.avatar img:hover {
    transform: scale(1.1);
    background-color: #ffffff;
}
